.highlight {
    position: absolute;
    border: 2px solid red; /* Style de la bordure */
    pointer-events: none; /* Empêche la bordure d'interférer avec les événements de la souris */
    display: none; /* Masque le rectangle par défaut */
}
.cross {
    position: absolute;
    font-size: 50px;
    pointer-events: none; /* Empêche la croix d'interférer avec les événements de la souris */
    display: block; /* Assurez-vous que la croix est visible */
}
.hidden {
    display: none;
}

#crossMessage {
    margin-left: 10px;
    color: green; /* Choisissez la couleur qui vous convient */
}


#mapContainer {
    display: flex; /* Utilisation de Flexbox pour aligner horizontalement */
    align-items: flex-start; /* Aligne les éléments en haut pour éviter les décalages verticaux */
}

#mapArea {
    position: relative;
}

#mainMap {
    display: block; /* Assure que l'image de la carte principale ne change pas de taille */
}

#crossList {
    margin-left: 20px; /* Espacement entre la carte et la liste */
    width: 400px; /* Largeur fixe pour la liste */
    max-height: calc(100vh - 20px); /* Hauteur maximale pour ne pas dépasser la vue */
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre pour mieux séparer visuellement la liste */
}

#crossList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#crossList li {
    margin-bottom: 10px;
}

.countdown {
    font-weight: bold;
    color: #333;
}

.countdown.urgent {
    color: green;
    font-weight: bold;
}

.countdown.timeout {
    color: red;
}


.second-countdown {
    font-size: 16px;       /* Taille de police plus grande */
    color: red;            /* Couleur du second timer */
    margin-left: 20px;     /* Décalage sur la droite */
    font-weight: bold;     /* Texte en gras */
}

.delete-icon {
    cursor: pointer;
    color: red; /* Couleur de l'icône */
    font-size: 15px;
    margin-left: 5px;
    vertical-align: top;
}

.delete-icon:hover {
    color: darkred; /* Couleur au survol */
}